body {
  font-family: "Poppins", sans-serif;
}
body.dark-mode {
  background-color: #0a0c10;
  color: white;
  .logo img {
    color: white;
  }
  .nav-tabs {
    background-color: #010409;
  }
  .nav-link {
    color: white;
  }
  .nav a {
    color: white;
  }
  .fa-search{
    color: black;
  }
  #button-addon{
    background-color: white;
  }
  .find-btn {
    color: white;
    border: 1px solid white;
  }
  footer section {
    background-color: #010409;
    color: white;
  }
}

.toggle-switch {
  top: 20px;
  right: 20px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  display: block;
  width: 50px;
  height: 25px;
  background-color: gray;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.toggle-switch label .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch label .sun {
  left: 5px;
  color: #f7df06;
  opacity: 1;
  transition: opacity 0.3s;
}

.toggle-switch label .moon {
  right: 5px;
  color: #ffff;
  opacity: 0;
  transition: opacity 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label .sun {
  opacity: 0;
}

.toggle-switch input[type="checkbox"]:checked + label .moon {
  opacity: 1;
}
.nav-tabs {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo img {
  width: 10vw;
}
.title-text {
  font-size: 4.5rem;
  font-weight: 700;
}
footer,
section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer,
section a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}

.card {
  transition: transform 0.6s;
}
.card:hover {
  transform: scale(1.05);
}
